/* /Components/Post.razor.rz.scp.css */
h2[b-p04wrj4ij8] {
	padding: 0 0.25rem;
}

article[b-p04wrj4ij8] {
	padding: 0 0.25rem 0.5rem 0.25rem;
	border: 1px solid white;
	background-color: var(--color-background);
}
/* /Components/Repository.razor.rz.scp.css */
.repo-card[b-5732leakbp] {
	border: 1px solid var(--color-foreground);
	background: var(--color-background);
	width: calc(100% - 1rem);
	min-width: var(--min-width);
	max-width: 600px;
	margin: 0 auto;
	display: block;
}
	.repo-card:hover[b-5732leakbp] {
		background-color: var(--color-contrast-1);
	}

.repo-card-header[b-5732leakbp] {
	background: var(--color-contrast-0);
	padding: 0.25rem 0.5rem;
}
	.repo-card-header h3[b-5732leakbp] {
		margin: 0;
	}

.repo-card-body[b-5732leakbp] {
	color: var(--color-foreground);
	padding: 0.5rem;
}
.repo-card-footer[b-5732leakbp] {
	color: var(--color-foreground);
	padding: 0.25rem 0.5rem;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-p9ykobcl07] {
    --sidebar-height: 2.5rem;
    --sidebar-width: 100%;
    display: block;
    height: 100vh;
    width: 100vw;
    min-width: calc(var(--min-width) + 20);
}

main[b-p9ykobcl07] {
    position: absolute;
    top: var(--sidebar-height);
    right: 0;
    width: 100%;
    height: calc(100% - var(--sidebar-height) - 1px);
    overflow-x: hidden;
}

footer[b-p9ykobcl07] {
    position: absolute;
    height: 1.5rem;
    width: 100%;
    padding: 0 0.5rem;
    bottom: 0;
    border-top: 1px solid var(--color-foreground);
    background-color: var(--color-contrast-0);
}

.sidebar[b-p9ykobcl07] {
    background-color: var(--color-contrast-0);
    position: sticky;
    height: var(--sidebar-height);
    width: var(--sidebar-width);
    min-width: calc(var(--min-width) - 20px);
    z-index: 1;
    border: none;
    border-bottom: 1px solid var(--color-foreground);
}

@media (min-width: 840px) {
    .page[b-p9ykobcl07] {
        --sidebar-height: calc(100% - 1.5rem);
        --sidebar-width: 13rem;
    }

    main[b-p9ykobcl07] {
        top: 0;
        height: 100vh;
        width: calc(100% - var(--sidebar-width));
    }

    .sidebar[b-p9ykobcl07] {
        position: relative;
        min-width: max-content;
        border: none;
        border-right: 1px solid var(--color-foreground);
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-d5e3pebw96] {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	margin: 0.25rem 0.5rem;
	height: 2rem;
	width: 2rem;
	padding: 0 0.25rem;
	background-color: var(--color-foreground);
	border: 2px solid var(--color-background);
}
	.navbar-toggler:hover[b-d5e3pebw96] {
		color: var(--color-primary-shade);
		border-color: var(--color-primary-shade);
	}

.line[b-d5e3pebw96] {
	border-bottom: 2px solid var(--color-background);
	margin: 0.25rem 0;
}

.collapse[b-d5e3pebw96] {
	display: none;
}

.navbar-brand[b-d5e3pebw96] {
	padding: 0;
	margin: 0.25rem 0.25rem 0.25rem 0.5rem;
	height: 2rem;
	display: inline-block;
}

h1[b-d5e3pebw96] {
	padding: 0.25rem 0.75rem 0.25rem 0;
	margin: 0;
	display: inline-block;
	vertical-align: top;
	color: var(--color-foreground);
}
	h1:hover[b-d5e3pebw96] {
		color: var(--color-primary);
		background-color: var(--color-contrast-1);
		text-decoration-color: var(--color-foreground);
	}
	.active > h1[b-d5e3pebw96] {
		text-decoration-color: var(--color-primary);
	}

nav[b-d5e3pebw96] {
	position: absolute;
	top: 2.5rem;
	width: 100%;
	font-family: "Lucida Console", "Courier New", monospace;
	background-color: var(--color-contrast-0);
	border-bottom: 1px solid var(--color-foreground);
	border-top: 1px solid var(--color-foreground);
}

	nav[b-d5e3pebw96]  a {
		display: block;
		width: 100%;
		padding: 0.5rem 0;
		height: min-content;
		color: var(--color-foreground);
		text-align: center;
		border-bottom: 1px solid var(--color-foreground);
	}
		nav[b-d5e3pebw96]  a:hover {
			color: var(--color-primary);
			background-color: var(--color-contrast-1);
		}
	nav[b-d5e3pebw96]  a.active, .navbar-brand[b-d5e3pebw96]  a.active {
		text-decoration: underline var(--color-primary);
	}


@media (min-width: 840px) {
	.navbar-brand[b-d5e3pebw96] {
		text-align: center;
	}
	.navbar-toggler[b-d5e3pebw96] {
		display: none;
	}

	.collapse[b-d5e3pebw96] {
		/* Never collapse the sidebar for wide screens */
		display: block;
	}

	nav[b-d5e3pebw96] {
		width: 100%;
		position: absolute;
		top: 2.5rem;
		border-bottom: 0;
	}

	.nav-scrollable[b-d5e3pebw96] {
		/* Allow sidebar to scroll for tall menus */
		overflow-y: auto;
	}
}
/* /Pages/Home.razor.rz.scp.css */
/* /Pages/Posts.razor.rz.scp.css */
.post[b-klv8d3gryp] {
	display: block;
	padding: 0.5rem;
	border: 1px solid var(--color-foreground);
	border-radius: 0.25rem;
	background-color: var(--color-contrast-1);
	margin-bottom: 0.5rem;
}

	.post:hover[b-klv8d3gryp] {
		background-color: var(--color-contrast-2);
	}
/* /Pages/WIP.razor.rz.scp.css */
.grid[b-s74juyp7c6] {
	display: grid;
	grid-template-columns: max-content auto;
}
