:root {
	--color-primary: #fe770c;
	--color-foreground: #eee;
	--color-foreground-link: #ddd;
	--color-foreground-muted: #aaa;
	--color-background: #111;
	--color-contrast-0: #000;
	--color-contrast-1: #222;
	--color-contrast-2: #333;
	--color-shadow: rgba(255,255,255,0.5);
}

@media (prefers-color-scheme: light) {
	:root {
		--color-foreground: #111;
		--color-foreground-link: #222;
		--color-foreground-muted: #555;
		--color-background: #fff;
		--color-contrast-0: #eee;
		--color-contrast-1: #ddd;
		--color-contrast-2: #ccc;
		--color-shadow: rgba(0,0,0,0.5);
	}
}

html {
	font-family: Arial;
	font-size: 20px;
}

body {
	margin: 0;
	color: var(--color-foreground);
	background-color: var(--color-contrast-1);
}

a, a:visited {
	text-decoration: none;
	color: inherit;
}

	a:hover {
		text-decoration: none;
		color: var(--color-primary);
	}

header {
	top: 0;
	position: sticky;
	width: 100%;
	background-color: var(--color-contrast-0);
	min-height: 2rem;
}

footer {
	width: 100%;
	padding: 0;
	position: sticky;
	bottom: 0;
	background-color: var(--color-contrast-0);
}

.footer-content {
	padding: 0.125rem 0.25rem;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	font-weight: bold;
	text-decoration: underline;
}

h1 {
	padding: 0.25rem 0 0 0;
	font-size: 1.5rem;
	color: var(--color-primary);
}

h2 {
	padding: 0.25rem 0 0 0;
	font-size: 1.1375rem;
}

h3 {
	padding: 0.1375rem 0 0 0;
	font-size: 1.125rem;
}

h4 {
	padding: 0.125rem 0 0 0;
	font-size: 1.0675rem;
}

h5 {
	padding: 0.0625rem 0 0 0;
	font-size: 1rem; 
}

main {
	max-width: 36rem;
	margin: 0.25rem auto;
	background-color: var(--color-background);
	border: solid 0.25rem var(--color-contrast-2);
	border-radius: 1rem;
}

	main hr {
		color: var(--color-contrast-2);
		margin: 0.25rem -0.5rem;
	}

p {
	margin: 0 0 0.25rem 0;
	padding: 0;
}

small {
	font-size: 0.625rem;
	color: var(--color-foreground-muted);
}

small.progress {
	display: block;
}

code {
	color: var(--color-primary);
	display: block;
	padding: 0.125rem 0.25rem;
	background-color: var(--color-contrast-0);
	border-radius: 0.25rem;
}

.section {
	padding: 0.125rem 0.25rem;
	border-bottom: solid 0.125rem var(--color-contrast-2);
}

.card {
    color: var(--color-foreground);
    background-color: var(--color-background);
    border: solid 0.25rem var(--color-contrast-1);
}
.card-title {
    color: var(--color-primary);
}
.card-body {
	padding: 0.125rem;
}

table {
	margin: 0.06rem 0 0.5rem 0;
	width: 100%;
	border-collapse: collapse;
}

td {
	border-bottom: solid 0.125rem var(--color-foreground-muted);
}

ul {
	margin: 0.125rem 0;
	padding: 0 0 0 0.75rem;
	list-style-type: circle;
}

.no-style {
	list-style-type: none;
}

li {
	font-size: 0.8rem;
	padding: 0.125rem 0;
}

.center {
	margin: auto;
	width: max-content;
}

.grayscale {
	filter: grayscale(100%);
}

.right {
	float: right;
}

.w15 {
	width: 15%;
}
