:root {
	--color-foreground: #eee;
	--color-foreground-muted: #aaa;
	--color-background: #111;
	--color-contrast-0: #000;
	--color-contrast-1: #222;
	--color-contrast-2: #333;
	--color-shadow: rgba(255,255,255,0.5);
}

@media (prefers-color-scheme: light) {
	:root {
		--color-foreground: #111;
		--color-foreground-muted: #444;
		--color-background: #fff;
		--color-contrast-0: #eee;
		--color-contrast-1: #ddd;
		--color-contrast-2: #ccc;
		--color-shadow: rgba(0,0,0,0.5);
	}
}

html {
	font-family: Arial;
	font-size: 20px;
}

body {
	margin: 0;
	color: var(--color-foreground);
	background-color: var(--color-contrast-1);
}

header {
	width: 100%;
	background-color: var(--color-contrast-0);
	min-height: 2rem;
}

footer {
	width: 100%;
	padding: 0;
	position: absolute;
	bottom: 0;
	background-color: var(--color-contrast-0);
}

.footer-content {
	padding: 0.125rem 0.25rem;
}

h1 {
	margin: 0;
	padding: 0.25rem;
	font-size: 1.5rem;
	font-weight: bold;
}

h2 {
	margin: 0;
	padding: 0.25rem;
	font-size: 1.3rem;
}

h3 {
	margin: 0;
	padding: 0.125rem;
	font-size: 1.2rem;
}

main {
	max-width: 36rem;
	margin: 0.25rem auto;
	padding: 0.5rem;
	background-color: var(--color-background);
	border: solid 0.25rem var(--color-contrast-2);
	border-radius: 1rem;
}

	main hr {
		color: var(--color-contrast-2);
		margin: 0.25rem -0.5rem;
	}

p {
	margin: 0.125rem;
}

.center {
	margin: auto;
	width:min-content;
}

.grayscale {
	filter: grayscale(100%);
}
